<form (submit)='componentSignIn(this.oldUser)' #formLog='ngForm'>
  <div class="form-group row justify-content-center">
      <div class="col-md-8">
          <input type="email" class="form-control" placeholder='Email' 
          required
          name='oldUser.email' 
          [(ngModel)]='oldUser.email' 
          pattern='^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$'
          #emailLog='ngModel'>
      </div>
  </div>     
  <div class="form-group row justify-content-center">
      <div class="col-md-8">
          <input type="password" class="form-control" placeholder="Password" 
          required
          name='oldUser.password' 
          [(ngModel)]='oldUser.password' 
          #passwordLog='ngModel'>
      </div>
  </div>     
  <div class='row justify-content-center'>
      <p><button type="submit" class='btn btn-primary' [disabled]='formLog.invalid'>Log In</button></p>
  </div>
  </form>
  <!-- {{csrfToken}} -->
